version: "3.9"

services:
  api:
    build: .
    container_name: pixelart-api
    ports:
      - "8000:8000"
    volumes:
      - ./models:/code/models
      - ./app:/code/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - RUN_EMBEDDED_WORKER=false
    depends_on:
      - redis

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  worker:
    build: .
    container_name: pixelart-worker
    volumes:
      - ./models:/code/models
      - ./app:/code/app
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      - redis
    command: ["python", "-m", "app.services.worker"]

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"